* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.center-text {
    height: 10em;
    position: relative;
    z-index: 999;
}

div.center-text h1 {
    margin: 0;
    position: absolute;
    top: 45vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.text-title {
    color: #696969;
}

@keyframes fa-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.fa-blink {
    -webkit-animation: fa-blink 5s linear infinite;
    -moz-animation: fa-blink 5s linear infinite;
    -ms-animation: fa-blink 5s linear infinite;
    -o-animation: fa-blink 5s linear infinite;
    animation: fa-blink 5s linear infinite;
}
a:link {
    text-decoration: none;
}